{# @var wishlist \Setono\SyliusWishlistPlugin\Model\WishlistInterface #}
{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    {{ form_start(form, {'method': 'PATCH', 'attr': {'class': 'ui form', 'novalidate': 'novalidate'}}) }}
        {{ form_errors(form) }}

        <h1 class="ui monster section dividing header">
            {{ 'setono_sylius_wishlist.ui.wishlist_header'|trans({'%name%' : wishlist.name }) }}
        </h1>

        <table class="ui table">
            <thead>
                <tr>
                    <th>{{ 'sylius.ui.quantity'|trans }}</th>
                    <th>{{ 'sylius.ui.product'|trans }}</th>
                    <th>{{ 'sylius.ui.variant'|trans }}</th>
                    <th>{{ 'sylius.ui.price'|trans }}</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for key, item in wishlist.items %}
                    <tr>
                        <td>
                            <div class="ui form">
                                {{ form_widget(form.items[key].quantity) }}
                            </div>
                        </td>
                        <td>
                            <a href="{{ path('sylius_shop_product_show', {'slug': item.product.slug}) }}">
                                {{ item.product.name }}
                            </a>
                        </td>
                        <td>
                            <div class="ui form">
                                {{ form_widget(form.items[key].variant) }}
                            </div>
                        </td>
                        <td>
                            {{ include('@SetonoSyliusWishlistPlugin/shop/wishlist/show/_price.html.twig') }}
                        </td>
                        <td style="text-align: right">
                            {# todo only show this if wishlist is owned by the current user #}
                            <a href="{{ path('setono_sylius_wishlist_shop_wishlist_remove', { 'product': item.product.id, 'wishlist': wishlist.id }) }}" class="ui basic red button">
                                <i class="icon remove"></i>
                                {{ 'setono_sylius_wishlist.ui.remove_from_wishlist'|trans }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="ui icon labeled large button"><i class="save icon"></i> {{ 'sylius.ui.update'|trans }}</button>

    {{ form_end(form) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        h1 {
            max-width: 800px !important;
            margin: 50px auto 120px auto !important;
            text-align: center !important;
            border: 0 !important;
        }

        h1 .sub.header {
            margin-top: 20px !important;
            line-height: 1.7 !important;
        }
    </style>
{% endblock %}
