{# @var wishlist \Setono\SyliusWishlistPlugin\Model\WishlistInterface #}
{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    {{ form_start(form, {'method': 'PATCH', 'attr': {'class': 'ui form', 'novalidate': 'novalidate'}}) }}
        {{ form_errors(form) }}

        <h1 class="ui monster section dividing header">
            {{ 'setono_sylius_wishlist.ui.wishlist_header'|trans({'%name%' : wishlist.name }) }}
            <div class="sub header">{{ 'setono_sylius_wishlist.ui.wishlist_subheader'|trans }}</div>
        </h1>

        <div class="wishlist-url">
            <input type="text" value="{{ url('setono_sylius_wishlist_shop_wishlist_show', { 'uuid' : wishlist.uuid }) }}">
            <button class="ui icon labeled button" type="button">
                <i class="copy icon"></i>
                {{ 'setono_sylius_wishlist.ui.copy'|trans }}
            </button>
        </div>

        <div>
            <a href="{{ path('setono_sylius_wishlist_shop_wishlist_add_to_cart', { 'uuid' : wishlist.uuid }) }}">{{ 'setono_sylius_wishlist.ui.add_wishlist_to_cart'|trans }}</a>
        </div>

        <table class="ui table">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>{{ 'sylius.ui.quantity'|trans }}</th>
                    <th>{{ 'sylius.ui.product'|trans }}</th>
                    <th>{{ 'sylius.ui.variant'|trans }}</th>
                    <th>{{ 'sylius.ui.price'|trans }}</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for key, item in wishlist.items %}
                    <tr>
                        <td>
                            {% if item.variant and item.variant.hasImages %}
                                {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': item.variant, 'filter': 'sylius_shop_product_tiny_thumbnail'} %}
                            {% else %}
                                {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': item.product, 'filter': 'sylius_shop_product_tiny_thumbnail'} %}
                            {% endif %}
                        </td>
                        <td>
                            <div class="ui form">
                                {{ form_widget(form.items[key].quantity) }}
                                {% if item.variant and not sylius_inventory_is_sufficient(item.variant, item.quantity) %}
                                    <div class="ui pointing red basic label">
                                        {{ 'setono_sylius_wishlist.ui.inventory_insufficient'|trans }}
                                    </div>
                                {% endif %}
                            </div>
                        </td>
                        <td>
                            <a href="{{ path('sylius_shop_product_show', {'slug': item.product.slug}) }}">
                                {{ item.product.name }}
                            </a>
                        </td>
                        <td>
                            <div class="ui form">
                                {{ form_widget(form.items[key].variant) }}
                            </div>
                        </td>
                        <td>
                            {{ include('@SetonoSyliusWishlistPlugin/shop/wishlist/show/_price.html.twig') }}
                        </td>
                        <td style="text-align: right">
                            {# todo only show this if wishlist is owned by the current user #}
                            <a href="{{ path('setono_sylius_wishlist_shop_wishlist_remove', { 'product': item.product.id, 'wishlist': wishlist.id }) }}" class="ui basic red button">
                                <i class="icon remove"></i>
                                {{ 'setono_sylius_wishlist.ui.remove_from_wishlist'|trans }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="ui icon labeled large button"><i class="save icon"></i> {{ 'sylius.ui.update'|trans }}</button>

    {{ form_end(form) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        h1 {
            max-width: 800px !important;
            margin: 50px auto 50px auto !important;
            text-align: center !important;
            border: 0 !important;
        }

        h1 .sub.header {
            margin-top: 20px !important;
            line-height: 1.7 !important;
        }

        .wishlist-url {
            margin: 0 auto 40px auto !important;
            max-width: 800px !important;
            display: flex;
            flex-wrap: nowrap;
            gap: 20px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        document.querySelector('.wishlist-url button').addEventListener('click', function() {
            const input = document.querySelector(".wishlist-url input");

            input.select();
            input.setSelectionRange(0, 99999); // For mobile devices

            navigator.clipboard.writeText(input.value)
                .then(() => {
                    // Optional: Notify the user that the text has been copied
                    alert("Copied to clipboard: " + input.value);
                })
                .catch((error) => {
                    console.error("Could not copy text: ", error);
                });
        });
    </script>
{% endblock %}
